*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: rgb(255, 243, 219);
    font-weight: normal;
    font-family: "Varela Round", sans-serif;
}

.headerContent{
    width: calc(100vw - 32px);
    height: 100px;
    padding-inline: 16px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 4px 4px 4px rgb(144, 126, 90);
}

.headerContent .titulo{
    font-size: 34px;
    text-transform: uppercase;
}